<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About</h3>
    <p>
      Daniel "Iyyel" Larsen loves programming, writing, speaking and all things related to computer science and technology.
      He is a passionate full-stack developer who is always keen to learn about new technologies, especially regarding
      functional programming, algorithms, mathematics and logic. For this reason, he is currently enrolled in a
      <a href="https://www.dtu.dk/english/education/bachelor-beng-and-bsc-/beng/software-technology" target="_blank">Software Engineering</a>
      bachelor's program. It is important for him to find elegant, secure and scalable software solutions, to solve problems with
      structured reasoning and in-depth knowledge. For more information, check out his <a href="{{ site.nav.main.writing }}">writing</a>
      and <a href="{{ site.nav.main.resume }}">resume</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
