<form action="https://iyyel.io:9000/hooks/add-comment">
    <input type="hidden" name="reply_to" value="{{ include.reply_to }}" />
    <div style="clear: both; padding-top: .5em; color: #2E2E2E;">Name</div>
    <input type="text" name="author" required />
    <div style="color: #2E2E2E;">E-mail (Not published)</div>
    <input type="text" name="email" required />
    <div style="color: #2E2E2E;">Comment</div>
    <textarea name="text" required></textarea>
    <input type="submit" value="Submit"/>
</form>
