
<nav class="nav">
  <div class="container">
      <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}"><span>{{ site.title }}</span> // all things *nix</a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
<!--  
      <li><a href="{{ 'https://code.fsociety.info' }}">code</a></li>
      <li><a href="{{ 'https://h0st.fsociety.info' }}">img</a></li>
      <li><a href="{{ 'https://bin.fsociety.info' }}">bin</a></li>
      <li><a href="{{ 'https://fsociety.info/irc' }}">irc</a></li>
-->
      <li><a href="{{ '/contact' | prepend: site.baseurl }}">contact</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">feed</a></li>
    </ul>
  </div>
</nav>
