<header>
    <div class=wrapper>
        <ul class=crumbs>
            <li><a href=/>home </a></li><li><a href=/projects>projects </a></li><li><a href>$title_lowercase$</a></li>
        </ul>
    </div>
</header>

<div class=about>
    <div class=wrapper>
        <p class=large> <em>$title$</em> $desc_large$</p>
        <div class=header-image>
            <img src=../assets/images/projects/$header_image$>
        </div>
        <div class=project-links>
            <div>
                <a href=$github_link$>see it on GitHub</a>
            </div>
        </div>
    </div>
</div>

<div class=content>
    <div class=wrapper>
        $body$
    </div>
</div>
